.container {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-inline: 15%;
  
  box-sizing: border-box;
  padding-bottom: 5%;
  padding-top: 5%;

  background: 
    linear-gradient(#131b4c 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
    
  border: 1px solid transparent;  
}

.smallerText {
  font-size: 12px !important;
  font-family: 'Arista';
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  letter-spacing: 2px;
}

.inputsContainer {
  padding: 0px 24px;
}


.multiApprovalButton {
  min-width: auto;
}

.textField {
  margin-bottom: 4px;
  position: relative;
}

.largeInput {
  font-size: 46px !important;
}


.searchContainer {
  padding: 24px;
  height: 600px;
  overflow-y: scroll;
}

.assetSearchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-width: 390px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
}

.inputBalance {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
  cursor: pointer;
}

.inputBalanceText {
  font-weight: 100 !important;
  font-size: 12px !important;
  color: #7e99b0;
  margin-right: 6px !important;
  margin-top: 6px !important;
}

.actionsContainer {
  padding: 0px 24px;
  display: flex;
  justify-content: center;
}

.actionButtonText {
  text-transform: capitalize !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}


.loadingCircle {
  margin-left: 6px !important;
  color: #FFF !important;
}


.buttonOverride {
  background: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88);
  color: rgb(20 30 63) !important;
  font-weight: 700 !important;
  border-radius: 30px !important;
  width: 100%;
}

.buttonOverride:hover {
  background: #FFBD59 !important;
  color: #111729 !important;
}


.error {
  border: 1px solid #dc3545;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.massiveInputAssetSelect {
  width: 124px;
  min-height: 124px;
  height: 100%;
}

.massiveInputAmount {
  flex: 1;
  height: 100%;
}

.displayAssetIconSmall {
  padding: 6px;
}

.displaySelectContainer {
  padding: 12px;
  min-height: 100px;
}

.displayDualIconContainer {
  width: 100px;
  position: relative;
}

.displayDualIconContainerSmall {
  width: 60px;
  position: relative;
  margin-right: 12px;
}

.displayAssetIcon {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.img1Logo {
  position: absolute;
  left: 0px;
  top: 10px;
}
.img2Logo {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: 10px;
}
.doubleImages {
  display: flex;
  position: relative;
  width: 140px;
  height: 80px;
  padding: 10px;
  box-sizing: content-box;
}
.fillerText {
  flex: 1;
  font-size: 30px !important;
  font-family: 'Righteous';
}

.depositInfoContainer {
  margin-top: 12px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}


.depositInfoHeading {
  width: 100%;
  padding-bottom: 12px !important;
  font-size: 16px !important;
  line-height: 23px !important;
  text-align: center;
  color: #FFF !important;
}

.highlight {
  color: rgb(255, 190, 89) !important;
}


.assetSelectBalance {
  flex: 1;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.assetSelectMenu {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.titleText {
  
}

.assetSelectText, .fillerText {
  font-family: 'Righteous' !important;
  font-size: 16px !important;
}


.menuOption {
  display: flex !important;
  align-items: center !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}


.titleToken{
  font-family: 'Righteous' !important;
}

.subtitleToken{
  font-family: 'Arista' !important;
}

.balanceToken{
  font-family: 'Righteous' !important;
}

.balanceTextToken{
  font-family: 'Arista' !important;
}

.smallerText {

  font-family: 'Arista' !important;
  font-size: 14px !important;
  letter-spacing: normal !important;  
  margin-top: 5px !important;
}

.manageLocalContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 576px){
    .fillerText{
      font-size: 0.8rem !important;
    }  
}
