@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.ffContainer {
  
  display: flex;
  flex-direction: column;  
  
}

.connected {
  background: none;  
}

.notConnectedContent {
  width: calc(100%) !important;
  background: rgba(17,23,41,0.2) !important;
  text-align: center;
  padding: 50px;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
  position: fixed;
  top: 0;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.overviewIcon {
  font-size: 100px !important;
  margin-bottom: 30px;
  margin-top: -80px;
}

.title {
  font-family: 'Righteous' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 50px !important;
  line-height: 62px !important;
  letter-spacing: 0.13em !important;
  color: #FFFFFF !important;
}

.subtitle {
  font-family: 'Arista'  !important;
  font-style: normal  !important;
  font-weight: 300  !important;
  font-size: 25px  !important;
  line-height: 27px  !important;
  letter-spacing: 0.13em  !important;
  color: #FFFFFF  !important;
  margin: 50px auto 50px auto  !important;
}

.buttonConnect {
  background: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88, #FFBD59);
  color: rgb(20 30 63) !important;
  border-radius: 60px !important;
  padding: 12px 24px 14px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: 1px solid !important;
  transform: scale(0.85);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.buttonConnect:hover {
  background: #FFBD59 !important;
  color: #111729 !important;
  text-transform: none !important;
  border: 1px solid !important;
  transform: scale(0.9);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}


@media screen and (max-width: 1600px) {

  .ffContainer {    
    padding-top: 1%;
  }

}

@media screen and (max-width: 1200px) {

  .ffContainer {    
    padding: 5%;
  }

  .title {
    margin-top: 280px !important;
    width: calc(100% - 80px) !important;
  }

  
}

@media screen and (max-width: 960px) {
  .title {
    margin-top: 480px !important;
    width: calc(100% - 80px) !important;
  }
}

@media screen and (max-width: 600px) {
  .title {
    text-align: center !important;
    font-size: 24px !important;
  }

  .subtitle {
    font-size: 15px !important;
    line-height: 1.4rem !important;
  }

  .overviewIcon {
    font-size: 80px !important;
  }

  .ffContainer {
    padding-top: 110px;
  }
}
