.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;  
  padding-top: 200px;
  margin: auto;
  position: relative;    
}

.sphere {      
  height: 450px;  
  background-image: url('/images/Toboganes_7.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -80px;
}

.descTp {
  margin-top: 50px;
}

.descTp {
  margin-top: 50px;
}

.overviewIcon {
  font-size: 110px !important;
  margin-bottom: 30px;
  margin-top: -80px;
  margin-left: -40px;
}

.title {  
  text-align: center !important;
  font-size: 32px !important;
  font-family: 'Righteous' !important;  
  color: #FFFFFF;  
  letter-spacing: 6px;
}

.subtitle {
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Arista' !important;  
  color: #FFFFFF;
  letter-spacing: 6px;
  margin: 50px auto 50px auto !important;
}


@media screen and (max-width: 1200px) {
  .container {
    padding-top: 180px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding-top: 140px;
    margin-bottom: 60px;
  }
}
