.container {
  display: flex;
  /* flex-direction: column;   */
  margin: auto;
  position: relative;    
}

.sphere {      
  height: 350px;  
  background-image: url('/images/Toboganes_7.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.descTp {
  margin-top: 50px;
}


.overviewIcon {
  font-size: 110px !important;
  margin-bottom: 30px;
  margin-top: -80px;
  margin-left: -40px;
}

.title {  
  text-align: center !important;
  font-size: 32px !important;
  font-family: 'Righteous' !important;  
  color: #FFFFFF;  
  letter-spacing: 6px;
}

.subtitle {
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: 'Arista' !important;  
  color: #FFFFFF;
  letter-spacing: 6px;
  margin: 50px auto 50px auto !important;
}



@media screen and (max-width: 1600px) {
  
  .container {
    padding-top: 10%;
    margin-bottom: 60px;
  }

  .containerCreate {
    width: 80%;
    height: 80%;
  }
}


@media screen and (max-width: 1200px) {

  .container {
    padding-top: 180px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding-top: 140px;
    margin-bottom: 60px;
  }
}
