.headingContainer {
  padding: 24px;
}

.heading {
  font-size: 24px !important;
  width: 100%;
  text-align: center;
  color: white;
  
}

.transactionsContainer {
  border-radius: 12px;
  /* background: #0D142E; */
  
  background: 
    linear-gradient(#131d42 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  color: #313149;
  border: 1px solid transparent;  
  
  padding: 24px;
  margin-bottom: 12px;
}

.transaction {
  padding: 12px 12px;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  cursor: pointer;
  
}

.transaction:hover {
  background: rgba(0, 0, 0, 0.2);
}

.closeIconbutton {
  position: absolute !important;
  right: 0px;
  top: 0px;
}

.transactionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Arista';
}

.capitalise {
  text-transform: capitalize !important;
}

.transactionDescription{
  color: white;
  font-family: 'Arista' !important;
}

.transactionExpanded {
}

.transaactionHash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.yellowIcon {
  color: #FFBD59 !important;
}
.greenIcon {
  color: #70DD88 !important;
}
.redIcon {
  color: #CD74CC !important;
}

.errorText {
  color: #CD74CC !important;
  padding-top: 12px !important;
}

.animClass {
  width: 130px;
  margin: auto;
  padding: 30px 0 20px 0;
  
}


.warningIcon {
  
  margin-bottom: 20px !important;  
  margin-top: 20px !important;  
}


.animClass1{
  width: 130px;
  margin: auto;
  padding: 30px 0 20px 0;
  color: green;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;  
}

.dialogScale1 {
  border-radius: 12px;    
  background: 
    linear-gradient(#131d42 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  color: #313149;
  border: 1px solid transparent;  
}

.successDialog {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px !important;

  
  
}

.successTitle {
  padding: 0 40px !important;
  text-align: center !important;
  margin: 0px 0 30px 0 !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #ffff !important;

}

.successText {
  padding: 0 40px !important;
  text-align: center !important;
  line-height: 1.5rem !important;
  margin-bottom: 40px !important;
  
  color: #fff !important;
}

.viewDetailsText {
  background: none;
  margin: 10px auto 20px auto !important;
  font-size: 14px !important;
  color: #fff;
  font-family: 'Arista' !important
}

.viewDetailsText a {
  color: #CD74CC !important;
  font-family: 'Arista' !important
}

.viewDetailsText a:hover {
  color: rgb(237, 176, 176) !important;
  font-family: 'Arista' !important
}

.newWindowIcon {
  font-size: 15px !important;
  margin-bottom: -2px;
  margin-left: 3px;
}
