.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  width: 50%;
  background: 
    linear-gradient(#131b4c 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  
  border: 1px solid transparent;  
  border-radius: 12px;    
  
  box-shadow: 1px 1px #0D142E;
}

.retain {
  display: flex;
  justify-content: center;
}

.smallerText {
  font-size: 14px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: white;
}

.smallestText {
  font-size: 10px !important;
  margin-top: -5px !important;
  margin-bottom: 5px !important;
}

.helpIcon {
  border: 1px solid rgba(104,108,122,0.2);
  border-radius: 50px;
  width: 26px;
  height: 26px;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: help !important;
}

.nextTo {
  display: flex;
  align-items: center;
}

.paddTiny {
  padding-right: 3px !important;
}

.topLeftButton,
.bottomLeftButton {
  border-radius: 8px 10px 0 0 !important;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  cursor: pointer;
}

.inputsContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 0px; */
  padding: 0px 24px;
  /* flex: 1; */
}

.multiApproval {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 12px;
}

.multiApprovalButton {
  min-width: auto;
}

.inputContainer {
  position: relative;
}

.textField {
  margin-bottom: 4px;
  position: relative;
}

.largeInput {
  font-size: 46px !important;
}

.activeIcon {
  height: 2px;
  width: 100%;
  background: linear-gradient(-45deg, #23a6d5, #234ce7);
  background-size: 400% 400%;
	animation: gradient 35s ease infinite;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
}

.inputTitle {
  padding-bottom: 16px;
  margin-left: 6px;
}

.inputBalance {  
  font-weight: 50 !important;
  font-size: 12px !important;  
  margin-right: 6px !important;
  margin-top: 6px !important;
  font-family: 'Righteous' !important;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.inputBalanceText {
  font-weight: 100 !important;
  font-size: 12px !important;  
  margin-right: 6px !important;
  margin-top: 6px !important;  
}

.inputBalanceText {
  font-weight: 100 !important;
  font-size: 12px !important;  
  margin-right: 6px !important;
  margin-top: 6px !important;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 15px;
}

.value {
  cursor: pointer;
  font-size: 14px !important;
}

.inputTitleText {
  font-size: 15px !important;
  margin-top: 10px !important;
}

.infoContainer {
  display: flex;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-top: 32px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  /* border-left: 1px solid rgba(104, 108, 122, 0.25); */
  padding: 0px 24px;
  width: 100%;
  margin-top: 12px;
}

.actionButtonText {
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.reAddPadding {
  padding: 24px 0px;
}

.loadingCircle {
  margin-left: 6px !important;
  color: #FFF !important;
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 9px 9px 0 0;  
  color: #CD74CC !important;
}


.button {
  border-radius: 0px !important;
  flex: 1;
  transition: none !important;
  opacity: 1;
  background: none !important;
  
}

.buttonActive {
  border-radius: 10px 10px 0px 0px !important;
  flex: 1;
  border-bottom: 1px solid #CD74CC !important; 
  color: #CD74CC !important;
  margin-top: 1px;
} 

.amountAndPercent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  padding-bottom: 12px;
}

.actionsContainerWithdraw {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding: 0px 24px;
  width: 240px;
}

.extraTF {
  padding-bottom: 0px;
}

.buttonPink{
  background: rgb(205, 116, 204) !important;
  color: rgb(20 30 63) !important;
  font-weight: 200 !important;
}
.buttonPink:hover{
  background: rgba(205, 116, 204, 80%) !important;
}

.buttonYellow{
  background: rgb(255, 189, 89) !important;
  color: rgb(20 30 63) !important;
  font-weight: 200 !important;
}

.buttonYellow:hover{
  background: rgb(255, 189, 89, 80%) !important;
}

.buttonGreen{
  background: rgb(112, 221, 136) !important;
  color: rgb(20 30 63) !important;
  font-weight: 200 !important;
}
.buttonGreen:hover{
  background: rgb(112, 221, 136, 80%) !important;
}

.buttonOverride {
  background: #CD74CC !important;
  color: rgb(20 30 63) !important;
  font-weight: 200 !important;
}

.buttonUnstake {
  background: #FFBD59 !important;
  color: rgb(20 30 63) !important;
  font-weight: 200 !important;
}


.buttonOverride:hover {
  background: #e29ee1 !important;
}

.swapIconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 0px;
  margin-bottom: 20px;
}
.backIconContainer {
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;  
  
  /* z-index: 1; */
}


.swapIconSubContainer {
  
  background: 
  linear-gradient(#0D142E 0 0) padding-box, 
  linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;

  border: 1px solid transparent;  
  
  border-radius: 9px;
  height: 38px;
  z-index: 1;
  margin-right: 10px;
}


.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}

.hr-icon {
  position: relative;
  top: 3px;
  color: #ff0000;
}




.swapIcon {
  cursor: pointer;
  padding: 6px;
  font-size: 30px !important;
  margin: 4px;
  border-radius: 6px;  
}

.error {
  border: 1px solid #dc3545;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  
}

.massiveInputAssetSelect {
  width: 160px;
  min-height: 124px;
  height: 100%;

}

.massiveInputAmount {
  flex: 1;
  height: 100%;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displaySelectContainer {
  padding: 12px;
  min-height: 100px;
}

.displayDualIconContainer {
  width: 100px;
  height: 80px;
  flex: 1;
  position: relative;
  display: flex;
  padding: 10px;
  box-sizing: content-box;
}

.img1Logo {
  position: absolute;
  left: 0px;
  top: 10px;
}
.img2Logo {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: 10px;
}

.displayAssetIcon {  
  
  background: 
  linear-gradient(#0D142E 0 0) padding-box, 
  linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;

  border: 1px solid transparent;  

  border-radius: 64px;      
  background: rgb(33, 43, 72);
  width: 100px;
  height: 100px;
  padding: 1px;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;  
  min-height: 50px;
}

.mediumInputContainer1 {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  /* align-items: center;   */
  min-height: 50px;
  margin-top: 25px;
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumdisplaySelectContainer {
  padding: 12px;
  height: 74px;
}

.mediumdisplayDualIconContainer {
  width: 50px;
  position: relative;
}

.mediumdisplayAssetIcon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50px;
  background: rgb(33, 43, 72);
  width: 50px;
  height: 50px;
  padding: 5px;
}

.mediumInput {
  font-size: 32px !important;
}

.receiveAssets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.depositInfoContainer {
  margin-top: 12px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.withdrawInfoContainer {
  margin-top: 8px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.depositInfoHeading {
  width: 100%;  
  color: #CD74CC !important;  
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-bottom: 1px solid white;
  font-size: 14px !important;
}

.priceInfos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  width: 100%;
}

.createPriceInfos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  width: 100%;
}

.balanceInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  width: 100%;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0px 24px 0px;
}

.priceInfo > .title {
  font-weight: bold !important;
  font-size: 14px !important;
  padding-bottom: 6px;
}

.priceInfo > .text {
  font-size: 13px !important;
  color: #7e99b0;
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #212B48;
  border-radius: 10px;
  width: calc(100% - 50px);
  margin: 20px 25px 0 25px;
  position: relative;
  min-height: 60px;
}

.backButton {
  position: absolute !important;
  left: 5px !important;
}

.backIcon {
  color: #06D3D7 !important;
}

.titleText {
  font-size: 18px !important;
  letter-spacing: normal !important;
  font-weight: bold !important;
}

.advancedToggleContainer {
  padding: 0px 32px;
  display: flex;
  justify-content: flex-end;
}


.some > span {
  font-size: 13px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.smallerText {
  letter-spacing: 2px;
  font-size: 12px !important;
}

.toggles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  border: 1px solid;
  border-radius: 15px;    
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
  box-shadow: 1px 1px #0D142E;
  height: 50px;

  background: 
  linear-gradient(#0D142E 0 0) padding-box, 
  linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;

  border: 1px solid transparent;  
  border-radius: 15px;    
  
}

.toggleOption {  
  border: none;
  color: #7E99B0;  
  height: 100%;
  /* padding-top: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.toggleOption:hover {
  border-radius: 15px; 
  filter: brightness(115%);
  background: #0D142E;
}

.toggleOption.active {
  border: 1px solid;
  background: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88, #FFBD59);
  color: #111729 !important;
  border-radius: 15px;    
}

.toggleOptionText {
  text-align: center;   
  
}

.assetSelectBalance {
  flex: 1;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.assetSelectMenu {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayDualIconContainerSmall {
  width: 108px;
  position: relative;
  margin-right: 12px;
}
.displayAssetIconContainerSmall {
  width: 60px;
  position: relative;
  margin-right: 12px;
}

.displayAssetIconSmall {
  padding: 6px;
}
.displayAssetIconSmall1 {
  left: 0px;
  padding: 8px;
  /* top: 10px; */
}
.displayAssetIconSmall2 {
  position: absolute;
  left: 43px;
  padding: 8px;
  z-index: 1;
  /* top: 10px; */
}

.manageLocalContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.searchContainer {
  padding: 24px;
  height: 600px;
  overflow-y: scroll;
}

.assetSearchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  min-width: 390px;
}

.smallInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;  
  max-width: 80px;
  min-height: 50px;
  padding: 20px 12px 4px 12px ;
}

.inputTitleContainerSlippage {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
}

.inputBalanceSlippage {
  padding-left: 12px;
}

.disclaimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.disclaimer {
  font-size: 13px !important;
  font-weight: 200 !important;
  border: 1px solid rgb(6, 211, 215) !important;
  border-radius: 10px;
  background: rgb(23, 52, 72) !important;
  padding: 24px !important;
}

@media screen and (max-width: 1600px) {
 
  .container {  

    width: 80%;
    height: 80% !important;
  }
  .retain {
    max-width: 100%;
  }

}

@media screen and (max-width: 1280px) {
  .actionsContainer {
    border-left: 0px solid rgba(104, 108, 122, 0.25) !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 0px;
  }

  .buttonWrap {
    margin-top: 20px !important;
  }

  .actionsContainer {
    border-left: 0px solid rgba(104, 108, 122, 0.25);
  }
}

@media screen and (max-width: 960px) {
  .container {
    margin-top: 0px;
    width: calc(100% - 60px);
  }
 .swapIconSubContainer{
  display: none;
 }

  .helpIcon { display: none; }
}
