.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;    
  box-shadow: 1px 1px #0D142E;  
  
  background: 
    linear-gradient(#0D142E 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  color: #313149;
  
  border: 1px solid transparent;
  border-radius: 53px;  
  
}

a.linkz { cursor: pointer !important; }

.icon {
  width: 20px !important;
  height: 20px !important;
  margin: 5px 24px 5px 20px;
}

.appLogo {
  transform: scale(6);
  position: fixed;
  left: 100px;
  top: 30px;
  cursor: pointer;
}

.navigationHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navigationContent {
  width: 100%;
}

.ffTitle {
  cursor: pointer;
  font-size: 24px !important;
  color: #1c46f5 ;
}

.navigationContentMobile {
  display: none;
}

.navigationOptionActive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  margin: 12px 0px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(63,94,251,0.7) 0%, rgba(47,128,237,0.7) 48%) rgba(63,94,251,0.7) 100%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.socialgrid {
  text-align: center;
  padding: 0 45px;
}

.socialButton {
  padding: 0px;
  width: 20px !important;
  height: 20px !important;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: unset;
}

.telegram {
  background-image: url('/socials/telegram.svg');
}
.medium {
  background-image: url('/socials/medium.svg');
}
.twitter {
  background-image: url('/socials/twitter.svg');
}
.github {
  background-image: url('/socials/github.svg');
}
.discord {
  background-image: url('/socials/discord.svg');
}

.navigationContentNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.headerThings {
  display: none;
}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.2rem;
}

.backButton {
  flex: 1;
}

.accountButton {
  display: flex;
  align-items: right;

}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}


.menuIcon {
  display: none;
}

.backButtonContainer {
  display: none;
}

.smallVersion {
  font-size: 10px !important;
  letter-spacing: 1px;
  padding-top: 0px;
}


.navigationOptionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px 0px;
  width: 100%;
  cursor: pointer;
}


.navigationSubOptionContainer {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  width: 100%;
  cursor: pointer;
  position: relative;
  height: 38px;
}

.subtitleText {
  font-family: 'Arista';
  font-size: 16px !important;
  font-weight: 100 !important;
  margin: 0 !important;  
}

.sectionDivider {
  height: 100%;
  width: 1px;
  background: rgba(104,108,122,0.15);
  margin: 16px 0 15px 26px;
}

.sectionText {
  color: rgba(104, 108, 128, 0.8);
  /* color: #234ce7; */
  font-size: 13px !important;
  cursor: default;
  margin: 0 0 0 11px !important;
  padding: 0 !important;
}

.navigationOptionSelected {
  border-left: 3px solid rgba(0, 0, 0, 1);
  border-radius: 0px 8px 8px 0px;
  height: 32px;
  margin-right: 13px;
  color: red !important;
}

.navigationOptionSelectedWhite {
  border-radius: 20px;
  background: #fff;
  width: 8px;
  height: 8px;
  margin-left: 12px;
}

.navigationOptionNotSelected {
  border-left: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0px 8px 8px 0px;
  height: 32px;
  margin-right: 10px;
}

.navigationOptionIconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigationOptionContainer:hover .navigationOptionIcon {
  background: #000;
  padding: 12px;
  border-radius: 24px;
}

.navigationOptionIcon {
  padding: 12px;
  height: 48px;
  width: 48px;
  font-size: 24px !important;
}

.navigationOptionIconSelected {
  height: 48px;
  width: 48px;
}

.icon {
  width: 0px !important;
  height: 0px !important;
  margin: 0;
}

.subIcon {
  margin: 0px 24px 0px 12px;
}

.iconSelected {
  width: 48px !important;
  height: 48px !important;
  margin-right: 12px;
}

.yearnLogo {
  width: 130px !important;
  height: 25px !important;
  left: 20px;
  top: 16px;
  position: absolute;
  cursor: pointer !important;
}

.iconHack {
  width: 24px !important;
  height: 24px !important;
  margin: 12px;
}

.warningIcon {
  width: 40px;
  cursor: pointer;
}

.navToggles {
  min-height: 50px;
}

.navButton {
  border: none;
  padding: 8px 24px 10px 24px !important;
  text-transform: capitalize !important;
  color: #7E99B0 !important;
} 

.testChange {
  border: none;
  background-color: rgba(0,0,0,0) !important;
  color: #FFF !important;
}

@media screen and (max-width: 1200px) {
       
}

@media screen and (max-width: 560px) {

  .navigationContainer {
    box-shadow: none;  
    box-shadow: none;      
    background:  none;    
    position: relative;
    padding-right: 30px;
  }

  .subtitleText {
    font-family: 'Arista';
    font-size: 12px !important;    
  }
   
}

