.ffContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 106px;
  position: relative;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: rgba(17,23,41,0.2) !important;
  text-align: center;
  padding: 50px;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
  position: fixed;
  top: 0;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  background-image: url('/images/sphere_001.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.42;
}

.overviewIcon {
  font-size: 100px !important;
  margin-bottom: 30px;
  margin-top: -80px;
}

.title {  
  text-align: center !important;
  font-size: 32px !important;
  font-family: 'Righteous' !important;  
  color: #FFFFFF;  
  letter-spacing: 6px;
}

.subtitle {
  text-align: center !important;
  font-size: 18px !important;
  font-family: 'Arista' !important;  
  color: #FFFFFF;
  letter-spacing: 6px;
  margin: 50px auto 50px auto !important;
}

.gridBanner {    
  
  border: 1px solid;
  border-radius: 12px;    
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;  
  margin: 50px auto 0px auto !important;
  max-width: 1400px;
  height: 120px;  
  width: calc(100% - 180px);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.buttonConnect {
  background: rgba(6,211,215,0.3) !important;
  color: rgba(6,211,215,1) !important;
  border-radius: 60px !important;
  padding: 12px 24px 14px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: 1px solid !important;
  transform: scale(0.85);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;  
}

.buttonConnect:hover {
  background: rgba(6,211,215,1) !important;  
  color: #111729 !important;
  text-transform: none !important;
  border: 1px solid !important;
  transform: scale(0.9);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
  .ffContainer {
    padding-top: 80px;
  }

  .title {
    margin-top: 280px !important;
    width: calc(100% - 80px) !important;
  }

  .subtitle {
    margin: 20px auto 40px auto !important;
    width: calc(100% - 80px) !important;
  }
}

@media screen and (max-width: 960px) {
  .title {
    margin-top: 480px !important;
    width: calc(100% - 80px) !important;
  }
}

@media screen and (max-width: 600px) {
  .title {
    text-align: center !important;
    font-size: 24px !important;
  }

  .subtitle {
    font-size: 15px !important;
    line-height: 1.4rem !important;
  }

  .overviewIcon {
    font-size: 80px !important;
  }

  .ffContainer {
    padding-top: 30px;
  }
}
