.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 20px 0 10px 0px;
}

.helpText {
  color: white;
  margin: 0 15px 0 0 !important;
  padding: 15px 0;
  letter-spacing: 2px;
  
  font-family: 'Righteous';
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

.toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.searchContainer {
  flex: 1;
  min-width: 300px;
  margin-right: 30px !important;
}

.buttonOverride {  
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;    
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.buttonOverride:hover {
  background: rgb(19, 44, 60);
}

.filterContainer {
  background: #212b48;
  min-width: 300px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(126,153,176,0.2);
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
}

.filterListTitle {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-bottom-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
  
}

.filterButton {
  margin-right: 30px !important;
}


.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
  padding: 0 20px;
  min-height: 60px;
  
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
  
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
}

.smallerText {
  font-size: 12px !important;
}

.tokenIDContainer {
}

.disclaimerContainer {
  border: 1px solid;
  border-radius: 10px;
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
  
}

.disclaimer {
  font-size: 13px !important;
  color: white;
  padding-left: 21.5px !important;
  padding-bottom: 21.5px !important;
  letter-spacing: 2px;
}


.disclaimerDocs {
  font-size: 13px !important;
  color: yellow;
  padding-left: 5px !important;
  padding-bottom: 21.5px !important;
}


.disclaimerMain {
  font-size: 13px !important;
  color: #CD74CC;
  padding: 21.5px !important;
  letter-spacing: 4px;
}


.gridBanner {      
  height: 200px;
  margin: 10px;
  padding: 8px;    
  margin-top: 80px;
  border: 1px solid;
  border-radius: 12px;
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;
}

.infoBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.sphere {    
  width: 100%;
  height: 320px;
  background: url('/images/Rewards.png') no-repeat right;
  background-size: contain;
  background-repeat: no-repeat;  
  position: relative;
  bottom: 70px;
}

.toolbarInfo {
  margin: 15px;
  position: relative;
  bottom: 80px;
  
}

.title {
  font-family: 'Righteous';
  color: #FFFFFF;   
  font-size: 42px;
  letter-spacing: 6px    
}

.subtitle {  
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: 'Arista' !important;  
  color: #FFFFFF;
  letter-spacing: 1px;  
}

.actionButtonText {
  color: #0D142E;  
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 40%;  
  left: 50%;
  transform: translate(-50%, -50%)
}


@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
}
