.ffContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 90px;
  position: relative;
  justify-content: center;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: rgba(17,23,41,0.2) !important;
  text-align: center;
  padding: 50px;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
  position: fixed;
  top: 0;
}


.contentFloat {
  position: relative;
  z-index: 9;
}

.swapComp {
  display: inline-block;      
}

.descTp {
  margin-top: 50px;
}

.sphere {      
  height: 420px;  
  background-image: url('/images/Balls_at_balance_-_Graphic.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -80px;
}

.overviewIcon {
  font-size: 110px !important;
  margin-bottom: 30px;
  margin-top: -80px;
  margin-left: -40px;
}

.title {  
  text-align: center !important;
  font-size: 50px !important;
  font-family: 'Righteous' !important;      
  font-style: normal;
  font-weight: 400;  
  line-height: 62px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
}

.subtitle {
  text-align: center !important;
  font-size: 25px !important;
  font-weight: 300 !important;
  font-family: 'Arista' !important;  
  color: #FFFFFF;
  letter-spacing: 6px;
  margin: 50px auto 50px auto !important;
  font-style: normal;    
  line-height: 27px;
  letter-spacing: 0.13em;  
}

.buttonConnect {
  background: rgba(6,211,215,0.3) !important;
  color: rgba(6,211,215,1) !important;
  border-radius: 60px !important;    
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59;  
  padding: 12px 24px 14px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: 1px solid !important;
  transform: scale(0.85);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}


@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
  .ffContainer {
    padding-top: 240px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1000px) {

}
