.ffContainer{
  
}

.headerContainer {
  margin-top: 2%;
}

.centerContainer{
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
}

.centerContainer1 {
  border-radius: 30px;    
  background: 
    linear-gradient(#131d42 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  color: #313149;
  border: 1px solid transparent;  
  
  width: 200px;
  height: 100px;

}

.footerContainer {  
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translate(-50%, -50%);

}

.buttonLaunch {  
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;    
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.buttonLaunch:hover {
  background: rgb(19, 44, 60);
}


.actionButtonText {
  color: #0D142E;  
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 40%;  
  left: 50%;
  transform: translate(-50%, -50%)
}

.appLinkTree{
  height: 80% !important;
  width: 80% !important;
}

.appLogo {
  
}

.appSlogan{

}

.footerTitle {

  color: white; 
  font-family: 'Arista';  
  letter-spacing: 1px; 
  font-size: 14px !important;
  font-weight: 200 !important;  
  padding: 24px !important;  

}







