.container {  
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 70px 0px;
}

.smallText {
  color: white;
  margin: 0 15px 0 0 !important;
  padding: 18px 0;
}

.tableContainer {
  border-radius: 30px;    
  border: 1px solid transparent;  
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background: 
    linear-gradient(#141d40 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;

}

.actionButtons {
  padding: 10px 0;
  min-width: 560px !important;
  
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translatex(-50%);

  background: 
    linear-gradient(#141d40 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box !important;
    
  border: 1px solid transparent !important;  
  border-radius: 12px;    

  
  z-index: 20 !important;
}

.actionButton {
  width: 200px;
}

.actionButtonText {
  font-size: 15px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
  font-family: 'Arista';
}

.loadingCircle {
  margin-left: 6px !important;
}

.infoSection {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  justify-content: flex-end;
}

.helpText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #52af77 !important;
  font-family: 'Arista';
}

.errorText {
  margin-left: 6px !important;
  font-size: 20px !important;
  color: #da0052 !important;
  font-family: 'Arista';
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
  font-family: 'Arista';
  
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}


.buttonOverrideFixed {
  
      
  min-width: 200px !important;
  max-height: 48px;

  color: #0D142E !important;    
  background-image: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88) !important;  
  font-family: 'Arista' !;
}

.buttonOverrideFixed:hover {
  background: rgb(19, 44, 60) !important;
}

.tokenIDContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  border-radius: 30px;
}
.middleTopContainer{
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.searchVote {
  flex: 1;
  display: flex;
  width: 100%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  min-height: 60px;
    
  border-radius: 18px;   
  border: 1px solid !important;
  border-color: #CD74CC #FFBD59 #70DD88 #FFBD59 !important;

    
}


.searchVote:hover {
  border: none;
}

.searchContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0px 24px !important;  
}

.topBarContainer {
  
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;  
  padding: 0 20px;
  
  
  background: 
    linear-gradient(#141d40 0 0) padding-box, 
        linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;

  border: 1px solid transparent;  
  border-radius: 20px;    
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
  
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: calc(100% - 24px);
  padding: 6px 12px;
  
}

.smallerText {
  font-size: 12px !important;
}

.gridBanner {      
  height: 170px;
  margin: 10px;
  padding: 8px;    
  margin-top: 80px;
  
  background: 
    linear-gradient(#141d40 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  
  border: 1px solid transparent;  
  border-radius: 30px;    

}

.gridInfoVote {      
  height: 100px;
  margin: 10px;
  padding: 8px;     
  
  background: 
    linear-gradient(#141d40 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
  
  border: 1px solid transparent;  
  border-radius: 30px;    
}

.infoBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.sphere {    
  width: 100%;
  height: 320px;
  background: url('/images/Hands_and_shadow.png') no-repeat right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 170px;
}

.toolbarInfo {
  margin: 15px;
  position: relative;
  bottom: 80px;
  right: 60px  
}

.title {
  font-family: 'Righteous' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 50px !important;
  line-height: 62px !important ;
  letter-spacing: 0.13em !important;
  color: #FFFFFF;  
}

.subtitle {  
  font-family: 'Arista' !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.13em;
  color: #FFFFFF;
}

.disclaimerDocs1 {
  font-size: 13px !important;
  color: white;
  padding-left: 5px !important;
  padding-bottom: 21.5px !important;
  font-family: 'Arista' !important;
}

.disclaimerDocs {
  font-size: 13px !important;
  color: yellow;
  padding-left: 5px !important;
  padding-bottom: 21.5px !important;
  font-family: 'Arista' !important;
}

.toolbarText {  
  font-family: 'Arista' !important;
  font-style: normal !important;  
  font-size: 16px  !important;  
  letter-spacing: 0.13em  !important;
  color: #CD74CC  !important;
  text-align: justify;  
}

.toolbarSubText{
  color: #CD74CC;
  font-size: 14px !important;    
  font-family: 'Righteous' !important;    
  letter-spacing: 5px;  
  font-weight:  700 !important;
}

.imgIconList {
  position: relative;
  bottom: 10px
}

.filterButton1 {  
  background-image: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88);  
  color: #0D142E !important;    
  border: 1px solid rgba(126,153,176,0.3 ) !important;
  width: 100% !important;
  height: 94.5% !important;
  border-radius: 20px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    padding: 0 0 10px 0px;
  }

  .toolbarText {
    color: #CD74CC;
    font-size: 14px !important;    
    font-family: 'Arista' !important;    
    letter-spacing: 1px;  
    font-weight:  700 !important;
  }

}

@media screen and (max-width: 960px) {
  .container {
    padding: 0 0 60px 0px;
  }

  .actionButtons {
    padding: 10px 0;
    min-width: 100% !important;
    background: #11172a !important;
    position: fixed;
    bottom: 0px;
    left: 0;
    transform: translatex(0);
    border-radius: 0 !important;
    border-top: 1px solid rgba(126, 153, 176, 0.2);
  }

  .searchContainer {
    padding: 0px !important;
    
  }

  .toolbarText {
    color: #CD74CC;
    font-size: 15px !important;    
    font-family: 'Arista' !important;    
    letter-spacing: 4px;  
    font-weight:  700 !important;
  }
}



@media screen and (max-width: 1600px) {

  .gridBanner {      
  
    height: 170px;
    margin: 10px;
    padding: 8px;    
    margin-top: 80px;
   
  }

  .topBarContainer {
    margin-top: 10%;    
  }

}

@media screen and (max-width: 1200px) {

  .gridBanner {        
    margin: 1%;               
  }

  .topBarContainer {
    margin-top: 1%;    
  }

}

@media screen and (max-width: 560px) {
  .buttonOverrideFixed {
    min-width: 100% !important;
    max-height: 48px;
  }

  .container {
    width: calc(100% - 40px);
    padding: 0 0 30px 0px;
  }
}
