.dialogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;

  
}

.dialogWrapper {
  z-index: 10030 !important;
  position: fixed !important;
}

.warningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 540px;
  border: 1px solid rgba(104,108,122,0.2);
  padding: 40px;
  border-radius: 20px;


  background: 
    linear-gradient(#131b4c 0 0) padding-box, 
    linear-gradient(to bottom, #CD74CC, #FFBD59 , #70DD88) border-box;
    
  border: 1px solid transparent;  

}

.emptyDiv {
  margin-bottom: 10px;
}

.warningIcon {
  height: 50px;
  margin-bottom: 20px !important;
}

.title1 {  
  font-family: 'Arista' !important;
  font-size: 18px !important;
  letter-spacing: 0px !important;
  color: #CD74CC;
  margin-bottom: 20px !important;
}

.title2 {
  font-size: 32px;
  font-family: 'Arista' !important;
  letter-spacing: 0px !important;
  margin-bottom: 36px !important;
  text-align: center;
  color: #CD74CC !important;
}

.title3 {  
  font-family: 'Arista' !important;
  letter-spacing: 0px !important;
  margin-bottom: 36px !important;
  text-align: center;
  color: #1F2E64 !important;
}

.paragraph {
  text-align: center;
  font: normal normal bold 22px !important;
  font-family: 'Arista';
  color: white;
  letter-spacing: 0px !important;
  margin-bottom: 33px !important;
  
}

.paragraph span {
  color: #FFF;
}

.buttonsContainer {
  padding: 0px 24px;
}

.primaryButton {
  background: linear-gradient(to right, #CD74CC, #FFBD59, #70DD88);
  color: rgb(20 30 63) !important;
  font-weight: 700 !important;
  border-radius: 30px !important;
  width: 100%;
}

.secondaryButton {
  margin-bottom: 15px !important;
}

.buttonTextPrimary {
  font: normal normal bold 14px/19px Inter !important;
  letter-spacing: 0px  !important;
  text-transform: none;
  color: #131b4c !important;
}

.buttonTextSecondary {
  font: normal normal bold 14px/19px Inter !important;
  letter-spacing: 0px  !important;
  color: #000 !important;
  text-transform: none;
}



@media screen and (max-width: 960px) {
  .dialogContainer {
    align-items: flex-start;
  }

  .warningIcon {
    height: 50px;
    margin-bottom: 30px !important;
  }

  .title1 {
    font: normal normal normal 18px/26px Inter !important;
  }

  .title2 {
    font: normal normal bold 22px/26px Inter !important;
    letter-spacing: 0px !important;
    margin-bottom: 30px !important;
  }

  .paragraph {
    font: normal normal bold 14px/18px Inter !important;
    font-family: 'Arista';
    color: white;
    margin: 0 20px 20px 20px !important;
  }

  .para2 {
    font: normal normal normal 14px/18px Inter !important;
    font-family: 'Arista';
    color: white;
    margin: 0 20px 20px 20px !important;
  }

  .buttonTextPrimary {
    font: normal normal bold 13px/16px Inter !important;
  }

  .buttonTextSecondary {
    font: normal normal bold 13px/16px Inter !important;
  }

  .primaryButton {
    margin: 0 auto 20px auto !important;
    min-width: inherit !important;
  }
}


@media screen and (max-width: 320px) {
  .warningIcon {
    height: 40px;
    margin-bottom: 15px !important;
  }

  .title1 {
    font: normal normal normal 18px/26px Inter !important;
  }

  .title2 {
    font: normal normal bold 22px/26px Inter !important;
    letter-spacing: 0px !important;
    margin-bottom: 15px !important;
  }

  .paragraph {
    font: normal normal bold 14px/18px Inter !important;
    margin: 0 20px 20px 20px !important;
  }

  .para2 {
    font: normal normal normal 13px/15px Inter !important;
    margin: 0 20px 20px 20px !important;
  }

  .buttonTextPrimary {
    font: normal normal bold 13px/16px Inter !important;
  }

  .buttonTextSecondary {
    font: normal normal bold 13px/16px Inter !important;
  }

  .primaryButton {
    margin: 0 auto 20px auto !important;
    min-width: inherit !important;
  }
}
